html{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 3vw;
}
h1{
    font-size: 30px;
}
h4{
    font-weight: normal;
    text-align: center;
    margin: 0px;
    
}
#img-holder{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5vw;
}
img{
    background-color: #5a99f8;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
p{
    font-size: 17px;
}
@media screen and (max-width: 1024px) {
    #img-holder {
    grid-template-columns: repeat(5, 1fr)
    }
}
     
    @media screen and (max-width: 768px) {
    #img-holder {
    grid-template-columns: repeat(3, 1fr);
    }
}
     
@media screen and (max-width: 414px) {
    #img-holder {
    grid-template-columns: repeat(1, 1fr);
    gap: 15vw;
    }
}